.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000;
    padding: 20px 0;
    text-align: center;
  }
  
  .footercontainer {
    width: 90%;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }
  